# exclude compiled binaries and external models
/bin

# exclude data from source control by default
/data/temp
/data/processed
/data/workingData
/data/raw
/results
/docs
.Rproj.user
*.Rdata
*.RData
*.html
*.csv
*.png
*.DS_Store
*.Rhistory
*.tiff
*.docx
docs/
*.pdf
